.app__aboutus{
    display: flex;
    justify-content: space-between;
}
.app__aboutus-content-top h3{
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 1rem;
    font-family: var(--font-base);
}
.app__aboutus-content-top h1{
    font-size: 64px;
    color: var(--color-golden);
    font-family: var(--font-base);
}
.app__aboutus-content p{
    margin: 2rem 0;
    color: var(--color-grey);
    line-height: 28px;
}
.app__aboutus-content p img{
    width: 40px;
    margin-right: 1rem;
}
.app__aboutus-image{
    width: 48%;
}
.app__aboutus-image img{
    width: 100%;
}
.app__aboutus-content{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.app__aboutus-content-name{
    font-size: 24px;
    color: var(--color-golden);
    font-family: var(--font-base);
}
.app__aboutus-content-work{
    font-size: 16px;
    margin:1rem 0 2rem 0;
    color: var(--color-grey);
}
.app__aboutus-content-sign{
    width: 250px;
}


@media screen and (max-width : 1150px) {
    .app__aboutus-content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        align-items: center;
    }
    .app__aboutus-content-top h1{
        font-size: 48px;
    }
    
}